.env
.venv/
__pycache__/
*.pyc
src/credit_transaction_data_engineer_project/kafka/data/
src/credit_transaction_data_engineer_project/fraud_model/*.png
src/credit_transaction_data_engineer_project/fraud_model/*.pkl
src/credit_transaction_data_engineer_project/fraud_model/*.json
dist/
src/credit_transaction_data_engineer_project/fraud_model/input_example.csv

